# Core ML + Data
pandas
numpy
scikit-learn
xgboost

# MLflow for tracking & model logging/loading
mlflow

# Inference API
fastapi
uvicorn[standard]  # for production-grade ASGI server

# Workflow orchestration
metaflow

# Serialization for transformers
joblib

# Typing and validation
pydantic



